@import url(http://fonts.googleapis.com/css?family=Lato:400,300italic,300,100,100italic,400italic,700,700italic,900,900italic);


body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
:focus {
	outline: 0;
}
a:focus {
	outline: 0;
	text-decoration: none;
}
body{
	font-family: 'Lato', sans-serif;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}

.wraper{
	width:100%;
	margin:50px auto;
	margin-left: 10%;
}

.wraper:before,
.wraper:after {
  display: table;
  content: " ";
}

.wraper:after{
  clear: both;
}

/* Skills Style 6 */

.skillst6{
	width:90%;
	color:#fff;

}
.skillst6 .skillbar{
	width: 90%;
	height: 40px;
	position:relative;
	margin-bottom:30px;
}
.skillst6 .count-bar{
	height: 100%;
	width:0px;
	position:relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.skillst6 .count-bar.color-1{
	background-color: #338ae7;

}
.skillst6 .count-bar.color-2{
	background-color: #fe871f;

}
.skillst6 .count-bar.color-3{
	background-color: #bd5cb9;

}
.skillst6 .count-bar.color-4{
	background-color: #2d7da5;

}
.skillst6 .count-bar.color-5{
	background-color: #18BC9C;

}
.skillst6 .count-bar.color-6{
	background-color: #E0CD69;

}
.skillst6 .count-bar.color-7{
	background-color: #519BFF;

}
.skillst6 .count-bar.color-8{
	background-color: #FCCF25;

}


.skillst6 .title{
	font-size:14px;
	font-weight:400;
	padding-left:12px;
	line-height:40px;
	text-transform:uppercase;
}
.skillst6 .count{
	position:absolute;
	top:0;
	right:12px;
	line-height:40px;
	font-size:14px;
	font-weight:400;
}

/*Coustom Media Query Css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media only screen and (max-width: 767px) {
	
}

.exp_label {
	text-align:justify;
	font-weight:600;
}

.font_M {
	font-size: 1.5em;
}

.margin_top_S {
	margin-top: 0.5rem;
}
